[submodule "docs/examples"]
	path = docs/examples
	url = git@github.com:zuzuscript/examples.git
	branch = main
[submodule "docs/userguide"]
	path = docs/userguide
	url = git@github.com:zuzuscript/userguide.git
	branch = main
[submodule "stdlib"]
	path = stdlib
	url = git@github.com:zuzuscript/stdlib.git
	branch = main
[submodule "languagetests"]
	path = languagetests
	url = git@github.com:zuzuscript/languagetests.git
	branch = main
